
@import './comp-style.css/tabs.css';
@import './comp-style.css/clients.css';



body{
    background-color: rgb(246, 255, 212);
    font-family: 'El Messiri',gilroy;

    
}
#v{
    color: rgb(161, 48, 48);
}
#formcontrol{
    min-width: 300px;
}


#form-control{
    min-width: 300px;
}
.active {
    background-color: gray;
}
.nav-link_IT
{
    text-decoration: none;
    color: black;
    font-size: 3.3rem;
}
select
{
    width: 70%;
    
    height: 60px;
    font-size: 25px;
    border:3px solid rebeccapurple;
    margin: 0 auto;
    margin-top:30px ;
    margin-bottom:30px ;
    display: flex;
    justify-content: center;

}
select:hover
{
    border: 1px solid wheat;
    transition: all 1s;
}



